
@media (min-width: 1024px) {
    
}

@media (min-width: 740px) and (max-width: 1023px) {
 
    .bestSell {
        margin-top: 50px;
        padding-top: 50px
    } 
    .btnSell {
        font-size: 16px;
        font-weight: 600;
        margin-left: 8px;
        border-radius: 6px;
        padding: 4px 20px;
    
    }
    .sellersHeader {
        padding: 20px 0;
    }

    /* price */
    .productItem {
        background-color: #fff;
        margin-top: 12px
    
    }
    .productItemPrice {
        padding: 2px 4px;
        margin-left: 6px;
    
    }
    .productItemName h2 {
        font-size: 14px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 0
    }
    .price {
        display: flex;
        align-items: center;
        margin-top: 4px;
    }
    .price h3 {
        margin: 4px 0;
        font-size: 14px
    }
    .price h4 {
        margin: 0;
        font-size: 12px
    }
    .price h1 {
        margin: 0;
        font-size: 12px
    }
    .productStart {
        margin-top: 2px;
        color: #999999;
    }
    
    .prevPrice {
        margin-left: 14px;
        text-decoration: line-through;
    }
    
    
    .actionCLiBtn {
        display: flex;
        align-items: center;
        padding: 8px;
        position: relative;
        /* justify-content: space-around; */
    }
    
    .actionCLiBtn span {
        font-size: 10px;
        font-weight: 500;
        z-index: 10;
    }
    .actionCLiBtn i {
        margin-right: 4px;
    }
    
}

@media (max-width: 740px) {
    .bestSell {
        margin-top: 30px;
        padding-top: 30px
    } 
    .btnSell {
        font-size: 12px;
        font-weight: 600;
        margin-left: 8px;
        border-radius: 6px;
        padding: 4px 12px;
    
    }
    .sellersHeader {
        padding: 20px 0;
    }
    /* price */
    .productItem {
        background-color: #fff;
        margin-top: 12px
    
    }
    .productItemPrice {
        padding: 2px 4px;
        margin-left: 6px;
    
    }
    .productItemName h2 {
        font-size: 10px;
        font-weight: 700;
        margin-top: 4px;
        margin-bottom:0
    }
    .price {
        display: flex;
        align-items: center;
        margin-top: 4px;
    }
    .price h3 {
        margin: 2px 0;
        font-size: 12px
    }
    .price h4 {
        margin: 0;
        font-size: 10px
    }
    .price h1 {
        margin: 0;
        font-size: 10px
    }
    .newPriceSpecial {
        color: rgb(223, 129, 140);
        margin-right: 6px;
    
    }
    .prevPriceSpecial {
        color: rgb(223, 129, 140);
        margin-left: 6px;
    }
    .newPrice {
        font-weight: 700;
        color: rgb(223, 129, 140)
    }
    .prevPrice {
        margin-left: 14px;
        text-decoration: line-through;
    }
    .productStart {
        margin-top: 2px;
        color: #999999;
    }
    .productImage1 {
        margin: 12px auto;
    }
    .productImage2 {
        margin: 12px auto;
    }
    .actionCLiBtn {
        display: flex;
        align-items: center;
        padding: 4px;
        position: relative;
        /* justify-content: space-around; */
    }
    
    .actionCLiBtn span {
        font-size: 8px;
        font-weight: 500;
        z-index: 10;
    }
    .actionCLiBtn i {
        margin-right: 2px;
    }
}
