.upBtn {
    /* background: #e5e5e5 none repeat scroll 0 0; */
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin: auto;
    position: relative;
    height: 50px
}
.upBtn img{
    position: absolute;
    right: 50%;
    top: -20px;
    width: 40px;
    height: 40px;
    transition: all 0.25 ease-in-out;
}
.upBtn img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

