/* ::-webkit-scrollbar { 
    display: none; 
} */
.changePage {
    display: flex;
}
.changePageControls {
    z-index: 10;
    display: flex;
    margin: 20px auto ;
}
.changePageControls span:hover{
    background-color: var(--primaryy-color)
}
.changePageLeft {
    background-color: rgba(37, 37 ,37, 0.5);
    padding: 20px;
    color: #fff;
    margin-right: 2px;
}
.changePageRight {
    background-color: rgba(37, 37 ,37, 0.5);
    color: #fff;
    padding: 20px;
}
.pageNumber {
    background-color: rgb(37, 37 ,37);
    color: #fff;
    padding: 20px;
    font-size: 16px;
    margin-right: 2px;

}